header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.d-none{
    display: none;
}

.resnavigate {
    display: none;
}

nav {
    transition: all .5s;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 50px;
    align-items: center;
    z-index: 9;
    top: 0;
}

nav ul img {
    width: 50%;
    object-fit: cover;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul h1{
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #de6a5d;
}
nav ul button {
    width: 150px;
    border-radius: 100px;
    background-image: linear-gradient(#e23b28, #dd938b);
    border: none;
    color: white;
    cursor: pointer;
    height: 45px;
    font-weight: 300;
}

nav ul li {
    color: #dd938b;
    text-decoration: none;
    list-style: none;
}

.none {
    text-decoration: none;
}

header nav ol {
    display: none;
}

@media only screen and (max-width: 824px) {


    nav {
        padding: 0px 20px;
    }

    header nav ol {
        display: block;
        color: #fff;
        font-size: 2rem;
        color: #de6a5d;
        font-weight: 900;
    }

    nav ul img {
        width: 50%;
        object-fit: cover;
    }

    .navigate {
        display: none;
    }

    .resnavigate {
        position: fixed;
        display: block;
        width: 100%;
        left: 0;
        top: -100%;
        height: 100vh;
        transition: all .5s;
        background-color: #000000;
    }

    .resnavigate2 {
        position: fixed;
        display: block;
        width: 100%;
        transition: all.5s;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        height: 100vh;
        background-color: #000000;
    }


    .item-res-nav {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .item-res-nav li {
        font-size: 1.4rem;
    }

}